!!!
#content{"ng-controller" => "HomeCtrl", "ng-class" => "{ 'ui-showing': ui_showing }" }
  #loading{ "ng-if" => "!loaded" }
    .uil-default-css
      = render :partial => 'loading'

  %div{ :style => "width: 100%; height: 100%; position: fixed", "ng-click" => "show_ui_go()", "ng-mobile-click" => "show_ui_go()"}
    %img#image{ "ng-if" => "loaded" }

  #description{ "style" => "display: none" }
    %table
      %tr{ "ng-repeat" => "detail in img_current.full_description.details" }
        %td{ width: "140", valign: "top" }
          {{detail.label}}
        %td
          {{detail.value}}
    %p{ "ng-if" => "img_current.full_description.label" }
      %br
      %br
      {{img_current.full_description.label}}

  // Left: time intervals
  #ui-wait{ "style" => "display: none" }
    %div{ "ng-repeat" => "time in wait_times"}
      %span.selected{ "ng-if" => "time == wait_time"}
        {{time.caption}}
      %span.hand{ "ng-if" => "time != wait_time", "ng-click" => "select_time(time)" }
        {{time.caption}}

  // Right: category / department, century
  #ui-category{ "style" => "display: none" }
    %table
      %tr
        %td{ "valign" => "top" }
          %div{ "ng-repeat" => "category in categories"}
            %span.selected{ "ng-if" => "current_category == category"}
              {{category}}
            %span.hand{ "ng-if" => "current_category != category", "ng-click" => "select_category(category)" }
              {{category}}
        %td{ "valign" => "top" }
          %div{ "ng-repeat" => "era in eras"}
            %span.selected{ "ng-if" => "current_era == era"}
              {{era.caption}}
            %span.hand{ "ng-if" => "current_era != era", "ng-click" => "select_era(era)" }
              {{era.caption}}

  // Bottom: artist / title / medium
  %div#info{ "ng-if" => "loaded" }
    %table
      %tr
        %td#artist.ellipsis
          {{img_current.artist_display_name || "Artist Unknown"}}
        %td#title.ellipsis
          {{img_current.title || "Untitled"}}
          %span{ "ng-if" => "img_current.object_end_date" }
            ({{img_current.object_end_date}})

        %td#medium.ellipsis
          %a.icon{ "ng-mobile-click" => "pause()", "ng-if" => "!paused" }<
            %img.hand{ :src => "/play_24.png" }
          %a.icon{ "ng-click" => "play()", "ng-mobile-click" => "play()", "ng-if" => "paused" }<
            %img.hand{ :src => "/pause_24.png?x=3" }
          %a.icon{ "ng-click" => "toggle_info()", "ng-mobile-click" => "toggle_info()" }<
            %img.hand{ :src => "/info_24.png" }
          %a.icon{ :target => "_blank", "ng-href" => "{{img_current.link_resource}}" }<
            %img.hand{ :src => "/met_24.png" }
          %a.icon{ "ng-click" => "download()", "ng-mobile-click" => "download()" }<
            %img.hand{ :src => "/download_24.png", "ng-if" => "num_downloading == 0" }
            %img.hand{ :src => "/downloading_24.png", "ng-if" => "num_downloading > 0" }
